@model CategoryAdminVM
@{
    ViewBag.Title = "AddCategory";
}
  @using(Html.BeginForm())
    { <div class="row">
    
    <div class="col-sm-12">
        <section class="panel">

            <header class="panel-heading">
                Kategori Ekleme Sayfası
            </header>
            <div class="panel-body">

                <div class="form-group">
                    <label class="col-sm-2">Kategori İsmi</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(x => x.Category.CategoryName, new { @class = "form form-control", placeholder = "Kategori ismi" })


                    </div>
 


                </div>  <br /><br />
                <div class="form-group">

                    <label class="col-sm-2">Açıklama</label>
                   <div class="col-sm-10"> @Html.TextBoxFor(x => x.Category.Description, new { @class = "form form-control", placeholder = "Açıklama Giriniz" })   </div>

                </div>

             

            <br /><br />

            <div class="form-group">
                <label class="col-sm-2">Kategori ismi</label>
                <label class="col-sm-10"><button class="btn btn-primary">EKLE</button></label>

            </div>








        </section>







    </div>
    
    
    
    
    </div>
  

    }


 