
@model  CategoryAdminVM
@{
    ViewBag.Title = "CategoryList";
}

<div class="row">
    <div class="col-sm-12">
        <section class="panel">
            <header class="panel-heading">
                Dynamic Table
                <span class="tools pull-right">
                    <a href="javascript:;" class="fa fa-chevron-down"></a>
                    <a href="javascript:;" class="fa fa-times"></a>
                </span>
            </header>
            <div class="panel-body">
                <div class="adv-table">
                    <table class="display table table-bordered table-striped" id="dynamic-table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>AÇIKALAMA</th>
                                <th  >EKle Ve sil</th>
                               
                            </tr>
                        </thead>
                        <tbody>
                             @foreach (Category item in Model.Categories)
                             {

                                 <tr>
                                     <td>@item.ID </td>
                                     <td>@item.CategoryName </td>
                                     <td>@item.Description </td>
                               
                                     <td colspan="2"><button class="btn btn-danger"> Sİl</button> <button class="btn btn-warning"> Update</button></td>


                                 </tr>

                             }












                        </tbody>
                     
                    </table>
                </div>
            </div>
        </section>
    </div>
</div>
