
@{
    ViewBag.Title = "RegisterOK";
}

<h2>RegisterOK</h2>

<script>


    $(function () {
        setTimeout(function () {

            window.location = "/Register/RegisterNow";


        }, 5000)


    })
</script>