
@{
    ViewBag.Title = "RegisterOK";
}

<h2>RegisterOK</h2>
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<h2>Tebrikler Kayıt Oldunuz Linke Tıklayarak Hesabınızı Aktif Ediniz</h2>

<script>


    $(function () {
        setTimeout(function () {

            window.location = "/Register/RegisterNow";


        }, 5000)


    })
</script>